{% comment %} {{ 'comment-styles.css' | asset_url | stylesheet_tag }} {% endcomment %}
{% render 'styles' %}

<div class="wrap-app-container" style="width: 100%;max-width: 600px;display: grid;grid-template-columns: 1fr;gap:2rem;">
    <div>
        <h2>Discussion</h2>
        <form id="postDataForm">
        <div class="container--review">
            <div class="Polaris-Box--user">
                <div class="Polaris-Box--img">
                    {% for i in order.line_items %}
                        {{ i.image | image_url: width: 200 | image_tag }}
                    {% endfor %}
                </div>
                <div>
                    <h3 class="Polaris-Text Polaris-Text--headingMd">{{ order.customer.email }}</h3>
                    <p>
                        {{ order.order_number }}
                    </p>
                </div>
            </div>
            <strong>
                <p>Replys</p>
            </strong>
            <div id="listingContainer"></div>
            
            <div class="">
                <div class="Polaris-Labelled__LabelWrapper">
                    <label id="" for="" class="Polaris-Label__Text">
                        Send Message to Seller
                    </label>
                </div>
                {% comment %} <div class="Polaris-Connected">
                    <textarea class="input_textarea" id="inputTextArea" class="Polaris-TextField__Input"></textarea>
                </div> {% endcomment %}
                <div class="Polaris-Connected">
                    <textarea class="input_textarea" type="text" id="content" name="content" required></textarea>
                </div>
            </div>
            <button class="Polaris-Button" type="button" id="submitBtn">Submit</button>
            <button style="visibility: hidden;" id="savedata" class="Polaris-Button" type="button">Reply</button>
        </div>
        </form>
    </div>
</div>

<script type="module">
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.3/firebase-app.js";
    import { getFirestore, collection, addDoc, getDocs, setDoc, updateDoc, arrayUnion, doc } from "https://www.gstatic.com/firebasejs/9.6.3/firebase-firestore.js";
    import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.6.3/firebase-analytics.js";

    const firebaseConfig = {
        apiKey: "AIzaSyBp2zTmcW0kyPmwYv9KFVaRV_B2AaL1fZU",
        authDomain: "rdbex2.firebaseapp.com",
        databaseURL: "https://rdbex2-default-rtdb.asia-southeast1.firebasedatabase.app",
        projectId: "rdbex2",
        storageBucket: "rdbex2.appspot.com",
        messagingSenderId: "539346832741",
        appId: "1:539346832741:web:b373e52431f2942d3c258c",
        measurementId: "G-J2ZVEK3SEY"
    };

    const app = initializeApp(firebaseConfig);
    const analytics = getAnalytics(app); 
    const db = getFirestore(app);

    let listing = [];

    const groupsCollection = collection(db, 'users');
    const fetchData = async () => {
        try {
            const querySnapshot = await getDocs(groupsCollection);
            querySnapshot.forEach((doc) => {
                const data = doc.data();
                const dataID = doc.id;
                const datacontents = data.ordernumber;
                const userorderid = "{{ order.order_number }}";
                if(datacontents == userorderid){
                    listing.push(data.contents);
                }
            });
        } catch (error) {
            console.error('Error getting documents: ', error);
        } finally{
            const displayContainer = document.getElementById('listingContainer');
            if (listing && listing.length > 0) {
            console.log(listing[0].length);
            listing[0].forEach(content => {
                if (content.admincontent !== null && content.admincontent !== undefined && content.admincontent !== '') {
                    const div = document.createElement('div');
                    div.innerHTML = `
                    <div class="reply--content">
                        <strong>
                            <p>Admin</p>
                        </strong>
                        <p class="message-container">
                            ${content.admincontent}
                        </p>
                    </div>
                    `;
                    displayContainer.appendChild(div);
                }

                if (content.usercontent !== null && content.usercontent !== undefined && content.usercontent !== '') {
                    const div = document.createElement('div');
                    div.innerHTML = `
                    <div class="reply--content">
                        <strong>
                            <p>You</p>
                        </strong>
                        <p class="message-container">
                            ${content.usercontent}
                        </p>
                    </div>
                    `;
                    displayContainer.appendChild(div);
                }
                });
            } 
        }
    };
    

    async function postData() {
        let createdAtNow = new Date(); 
            createdAtNow.setHours(0);
            createdAtNow.setMinutes(0);
            createdAtNow.setSeconds(0);
        const createdAt = createdAtNow.toISOString().replace(/T/, ' ').replace(/\..+/, ''); 

        const content = document.getElementById('content').value;
        let userId = "{{ order.customer.id }}";
        let userEmail = "{{ order.customer.email }}";
        const orderId = "{{ order.id }}";
        const orderNumber = "{{ order.order_number }}";
        const orderUrl = "{{ order.order_status_url }}";

        const querySnapshot = await getDocs(collection(db, 'users'));
        const existingDoc = querySnapshot.docs.find((doc) => doc.data().ordernumber === orderNumber);

        try {
            if (existingDoc) {
            const docRef = doc(db, 'users', existingDoc.id);
            await updateDoc(docRef, {
                contents: arrayUnion({
                usercontent: content,
                createdat: createdAt,
                orderid: orderId,
                }),
            });

            console.log("Document updated successfully.");
            } else {
            const docRef = await addDoc(collection(db, 'users'), {
                content: content,
                createdat: createdAt,
                orderid: orderId,
                ordernumber: orderNumber,
                orderurl: orderUrl,
                useremail: userEmail,
                userid: userId,
                contents: [
                    {
                        usercontent: content,
                        createdat: createdAt,
                        orderid: orderId,
                    },
                    {
                        admincontent: "",
                        createdat: "",
                        orderid: "",
                    },
                ],
            });

            console.log("Document written with ID: ", docRef.id);
            }
        } catch (error) {
            console.error("Error adding document: ", error);
        }
    }

    document.addEventListener("DOMContentLoaded", function() {
        const submitBtn = document.getElementById('submitBtn');
        submitBtn.addEventListener('click', postData);

        fetchData();
    });

    {% comment %} document.addEventListener("DOMContentLoaded", function() { {% endcomment %}
    {% comment %} console.log("mail-extension");
    const firebaseConfig = {
        databaseURL: 'https://rdbex2-default-rtdb.asia-southeast1.firebasedatabase.app'
    };

    async function getFirebasedb() {
        const response = await fetch(firebaseConfig.databaseURL + '/messages/.json');
        const res = await response.json();
        console.log(res);
    }      

    getFirebasedb();

    const postDataButton = document.querySelector("#savedata");
    
    postDataButton.addEventListener('click', function(){
        let orderNumber = "{{ order.order_number }}";
        var customerMail = "{{ customer.email }}";
        var inputTextArea = document.getElementById('inputTextArea').value;

        const postData = {
            'customerMail': customerMail,
            'orderNumberValue': orderNumber,
            'inputTextArea': inputTextArea
        };

        if(inputTextArea != null){
            fetch(firebaseConfig.databaseURL + `/messages/${orderNumber}.json`, {
                method: 'POST',
                headers: {
                'Content-Type': 'application/json',
                },
                body: JSON.stringify(postData),
            })
            .then(response => response.json())
            .then(data => {
                console.log('Data posted successfully');
                console.log(response.json());
                console.log(postData);
            })
            .catch(error => {
            console.error('Error posting data:', error);
            });
        }else{
            console.log('data incomplete');
        }
    }); {% endcomment %}
    {% comment %} }); {% endcomment %}
</script>
    
{% schema %}
    {
    "name": "firebase",
    "target": "section",
    "settings": [
        { "type": "product", "id": "product", "label": "product", "autofill": true },
        { "type": "color", "id": "colour", "label": "Star Colour", "default": "#ff0000" }
    ]
    }
{% endschema %}
    
    


