{{ 'comment-styles.css' | stylesheet_tag }}
{% render 'styles' %}

<div class="wrap-app-container" style="width: 100%;max-width: 600px;display: grid;grid-template-columns: 1fr;gap:2rem;">
    <div>
        <h2>Discussion</h2>
        <form id="postDataForm">
        <div class="container--review">
            <div class="Polaris-Box--user">
                <div class="Polaris-Box--img">
                    {% for i in order.line_items %}
                        {{ i.image | image_url: width: 200 | image_tag }}
                    {% endfor %}
                </div>
                <div>
                    <h6 class="Polaris-Text Polaris-Text--headingMd">Customer@mail</h6>
                    <p>Use for detail pages, which should have pagination and breadcrumbs, 
                        and also often have several actions.
                    </p>
                </div>
            </div>
            
            <div class="">
                <div class="Polaris-Labelled__LabelWrapper">
                    <label id="" for="" class="Polaris-Label__Text">
                        Send Message to Seller
                    </label>
                </div>
                {% comment %} <div class="Polaris-Connected">
                    <textarea class="input_textarea" id="inputTextArea" class="Polaris-TextField__Input"></textarea>
                </div> {% endcomment %}
                <div class="Polaris-Connected">
                    <label for="content">Content:</label>
                    <textarea class="input_textarea" type="text" id="content" name="content" required></textarea>
                </div>
            </div>
            <button class="Polaris-Button" type="button" id="submitBtn">Submit</button>
            <button style="visibility: hidden;" id="savedata" class="Polaris-Button" type="button">Reply</button>
        </div>
        </form>
    </div>
</div>

<script type="module">
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.3/firebase-app.js";
    import { getFirestore, collection, addDoc } from "https://www.gstatic.com/firebasejs/9.6.3/firebase-firestore.js";
    import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.6.3/firebase-analytics.js";

    const firebaseConfig = {
        apiKey: "AIzaSyBp2zTmcW0kyPmwYv9KFVaRV_B2AaL1fZU",
        authDomain: "rdbex2.firebaseapp.com",
        databaseURL: "https://rdbex2-default-rtdb.asia-southeast1.firebasedatabase.app",
        projectId: "rdbex2",
        storageBucket: "rdbex2.appspot.com",
        messagingSenderId: "539346832741",
        appId: "1:539346832741:web:b373e52431f2942d3c258c",
        measurementId: "G-J2ZVEK3SEY"
    };

    const app = initializeApp(firebaseConfig);
    const analytics = getAnalytics(app); 
    const db = getFirestore(app);

    async function postData() {
        let createdAtNow = new Date(); 
            createdAtNow.setHours(0);
            createdAtNow.setMinutes(0);
            createdAtNow.setSeconds(0);
        const createdAt = createdAtNow.toISOString().replace(/T/, ' ').replace(/\..+/, ''); 

        const content = document.getElementById('content').value;
        let userId = "{{ order.customer.id }}";
        let userEmail = "{{ order.customer.email }}";
        const orderId = "{{ order.id }}";
        const orderNumber = "{{ order.order_number }}";
        const orderUrl = "{{ order.order_status_url }}";

        try {
            const docRef = await addDoc(collection(db, 'users'), {
                content: content,
                createdat: createdAt,
                orderid: orderId,
                ordernumber: orderNumber,
                orderurl: orderUrl,
                useremail: userEmail,
                userid: userId
            });

            console.log("Document written with ID: ", docRef.id);
        } catch (error) {
            console.error("Error adding document: ", error);
        }
    }

    document.addEventListener("DOMContentLoaded", function() {
        const submitBtn = document.getElementById('submitBtn');
        submitBtn.addEventListener('click', postData);
    });
    document.addEventListener("DOMContentLoaded", function() {
    {% comment %} console.log("mail-extension");
    const firebaseConfig = {
        databaseURL: 'https://rdbex2-default-rtdb.asia-southeast1.firebasedatabase.app'
    };

    async function getFirebasedb() {
        const response = await fetch(firebaseConfig.databaseURL + '/messages/.json');
        const res = await response.json();
        console.log(res);
      }      

    getFirebasedb();

    const postDataButton = document.querySelector("#savedata");
    
    postDataButton.addEventListener('click', function(){
        let orderNumber = "{{ order.order_number }}";
        var customerMail = "{{ customer.email }}";
        var inputTextArea = document.getElementById('inputTextArea').value;

        const postData = {
            'customerMail': customerMail,
            'orderNumberValue': orderNumber,
            'inputTextArea': inputTextArea
        };

        if(inputTextArea != null){
            fetch(firebaseConfig.databaseURL + `/messages/${orderNumber}.json`, {
                method: 'POST',
                headers: {
                'Content-Type': 'application/json',
                },
                body: JSON.stringify(postData),
            })
            .then(response => response.json())
            .then(data => {
                console.log('Data posted successfully');
                console.log(response.json());
                console.log(postData);
            })
            .catch(error => {
            console.error('Error posting data:', error);
            });
        }else{
            console.log('data incomplete');
        }
    }); {% endcomment %}
    });
</script>
    
{% schema %}
    {
    "name": "firebase",
    "target": "section",
    "settings": [
        { "type": "product", "id": "product", "label": "product", "autofill": true },
        { "type": "color", "id": "colour", "label": "Star Colour", "default": "#ff0000" }
    ]
    }
{% endschema %}
    
    


